@font-face {
	font-family: "tisa";
	src: url(/font/TisaSansPro-Light.woff2);
	font-weight: 300;
  }
@font-face {
	font-family: "tisa";
	src: url(/font/TisaSansPro-Regular.woff2);
	font-weight: 400;
  }

@font-face {
	font-family: "tisa";
	src: url(/font/TisaSansPro-Bold.woff2);
	font-weight: 500;
  }
@font-face {
	font-family: "tisa";
	src: url(/font/TisaSansPro-Black.woff2);
	font-weight: 600;
  }

html{
	user-select: none;
}

:root,
code,
textarea,
select,
input,
button {
	font-family: "tisa", 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}


* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	transition-property: background-color, border-color, opacity, outline;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

