:root {
	--sp1: 8px;
	--sp2: 16px;
	--sp3: 24px;
	
	--br1: 4px;


	--shad1: 0 0 8px rgba(0, 0, 0, 0.282);
	
	--headerHeight: 80px;

	--overlay: rgba(0, 0, 0, 0.8);
	
	--cl0: #4d0083;
	--cl1: #4F7AA6;
	--cl4: red;

	--ac1_: black;
	--ac2_: rgb(63, 63, 63);
	--ac3_: gray;
	--ac4_: rgb(210, 210, 210);
	--ac5_: white;
}

main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac5_);
	--ac5: var(--ac4_);
}
main.dark {
	--ac1: white;
	--ac2: rgb(210, 210, 210);
	--ac3: gray;
	--ac4: rgb(24, 24, 24);
	--ac5: black;
}
