:root {
	--midtone: gray;
	--overlay: rgba(0, 0, 0, 0.8);
	
	--color1: #1d9bf0;
	--color2: #146ca8;
	--color3: #4d0083;
	--color4: red;
	--color5: #04AA6D;
	--color6: goldenrod;

	--gap1: 8px;
	--gap2: 16px;
	--gap3: 24px;

	--br1: 4px;
	--shad1: 0 0 8px rgba(0, 0, 0, 0.282);

	--trans1: all 0.2s ease-in-out;

	--headerHeight: 60px;


	--ac1_: black;
	--ac2_: rgb(63, 63, 63);
	--ac3_: gray;
	--ac4_: rgb(210, 210, 210);
	--ac5_: white;
}

main {
	--ac1: var(--ac1_);
	--ac2: var(--ac2_);
	--ac3: var(--ac3_);
	--ac4: var(--ac4_);
	--ac5: var(--ac5_);
}
main.dark {
	--ac1: white;
	--ac2: rgb(210, 210, 210);
	--ac3: gray;
	--ac4: rgb(24, 24, 24);
	--ac5: black;
}
